  @import url('https://fonts.googleapis.com/css2?family=Mada:wght@600&family=Poppins:ital,wght@0,300;1,500&display=swap');


*{
  padding:0; 
  margin:0; 
  box-sizing: border-box;
  overflow:hidden;
}

.container{ 
  width:70%; 
  margin: 0 auto;
}
body{ 

  position:relative;
}
body::before{ 
  content: ""; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0;
  position:absolute;
  background-image:url('/public/img/quote-bg.png');
  background-repeat: no-repeat;
  opacity:.1;
  background-size:23rem;
  background-position: 11rem bottom;
  z-index: -100;
}

.light-dark{ 
  /* border:1px solid red; */
  display:flex; 
  gap:.5rem;
  font-size:1.4rem;
  flex-wrap: wrap;
  justify-content: end;
  width:10vw;
  float:right;
  cursor:pointer;
  padding-top:.4rem;
  
}
/* .dark-icon{ 
  display:none;
} */
.quote-wrap{ 
  display:flex; 
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin:0 3rem;
 }

  h4.quote-heading{
    font-size:1.2rem; 
    text-align:center; 
    font-family:'mada', sans-serif;
    font-weight:300;
  }

.quote-author--center{ 
  text-align:center;
  margin:.5rem 0;
  padding:10px;
  overflow: hidden;
  width:100%;
}
p.quote-word{ 
  font-weight:500; 
  font-size:1rem; 
  font-family: 'poppins', sans-serif;
  font-weight:300;
  /* line-height:.3rem; */
  letter-spacing: .1rem;
  margin-bottom:.7rem;
  /* transition:all .3s ease-in-out; */
  animation:wordAnime ease-in-out;
  animation-duration: .4s;
}

@keyframes wordAnime{ 
  0%{ 
    opacity:0; 
  }
  50%{ 
    opacity:.4; 
  }
  100%{ 
    opacity:1
  }
}

small.quote-author{ 
    background:rgba(233, 0, 0.3, .1);
  color:navy; 
  font-family: 'poppins', sans-serif;
  font-style: italic;
  font-weight:700;
  font-size:.7rem;
  padding:.3rem; 
  border-radius: .9rem;
  align-self:right;
  float:right;
}

.btn{ 
  border:none; 
  background: linear-gradient(90deg, rgba(121,9,88,1) 22%, rgba(154,92,149,1) 48%, rgba(214,0,255,1) 78%);
  font-family: 'mada', sans-serif;
  font-weight:500;
  font-size:.7rem;
  color:white;
  padding:.2rem .5rem; 
  border-radius:.6rem;
  /* width:25vw; */
  align-self:center;
  cursor: pointer;
  margin-top:.7rem;
  z-index:20;
}
small.footer{ 
  bottom:0;
  position:fixed;
 
}
a{ 
  font-size:.7rem; 
  font-family: 'mada', sans-serif;
  color:navy; 
  text-decoration: none;;
  font-size:.7rem; 
  font-family: 'poppins', sans-serif;
  font-weight:400;
  
}
.loading{
  height:100vh; 
  display:flex; 
  flex-direction: column;
  background:rgba(200, 0, 0, .5);
  justify-content: center;
  align-self:center;
}

.loading p{ 
  font-size:4rem; 
  font-weight:700; 
  font-family: 'mada', sans-serif;
  color:#ff32aa; 
  animation: loadingAnime .3s infinite;
  transition: all ease-in;
}

@keyframes loadingAnime{ 
  0%{ 
    transform: scale(.1);
  }
  50%{ 
    tranform:scale(.4);
  }
  100%{ 
    transform: scale(.8);
  }
}


/* //darkmode */


.body-dark{
  background:rgb(84, 82, 82);
}

.dark-txt{ 
  color:rgb(192, 185, 185);  ;
}

small.author-txt{ 
  color:rgb(210, 207, 207);
  background:rgb(108, 107, 107);
  /* font-size:20rem; */
}


.light-icon{ 
  border:1px solid red
}

.dark-btn{ 
  background: linear-gradient(90deg, rgba(13,13,13,1) 27%, rgba(107,99,105,1) 62%, rgba(152,144,153,1) 88%);
  color:#fff;
}

.share-btn{ 
  cursor:pointer;
  
  width:1.3rem;
}

@media screen and (max-width:720px){ 
  
  .container{ 
    width:95%;
  }
  .quote-wrap{ 
    margin:0 1rem;
  }
  h4.quote-heading{ 
    font-size:.9rem;
  }
  p.quote-word{ 
    font-size:.7rem;
  }
  small.quote-author{ 
    font-size:.6rem;

  }
}